[2021-04-16 19:04] charleszipp commented on #277
@y6vmeq The extension itself does not have any control over how and when its installed. Therefore, this is not the right repo to report this issue. This is likely better issue for the azure devops agent or azure devops in general. When i experience this myself with hosted agents, i typically reinstall the extension in the Organization Settings. Im not sure if this will work for the self-hosted age

[2021-04-16 19:04] #277 closed

[2021-04-21 15:22] thomast1906 opened #278 "From latest version 0.6.20 - error:- Error retrieving keys for Storage Account"
**Describe the bug**
From the latest version 0.6.20 - our pipelines are failing with errors

[code]

To note:- The service principal (backendServiceArm) is configured initially on a separate subscription to where the storage account is located, previous versions we added this to our Terraform provider

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Example task that was working in pr

[2021-04-22 12:44] bothzoli commented on #21
see also this issue on the subject: https://github.com/microsoft/azure-pipelines-agent/issues/1569
especially this comment by the end: https://github.com/microsoft/azure-pipelines-agent/issues/1569#issuecomment-618505636

[2021-04-23 13:47] #255 closed

[2021-04-23 17:02] charleszipp opened #279 "Pull shared organizations from variable group"
The list of organizations to share after publishing new pre-release versions should be retrieved from a variable group, so that those organizations are not viewable by the public.

Currently, these are hard-coded within [the pipeline yaml](https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/a3d174ab4711353a0e378e6cd8f11799b17a2f5c/pipelines/publish/publish_private.yml#L56). This sh

[2021-04-27 11:31] HL-Sibelco opened #280 "Question : Unable to execute init"
After adding a init task and running the Azure Pipeline i'm getting this.
I'll be honest, I'm a Teffaform and DevOps novice, so bear that in mind, thx.
[code]
The Azure RM Parameters are correctly filled (I Suppose)

This is the YAML
[code]
This is the full Debug
[code]

[2021-04-27 13:48] charleszipp commented on #278
Hi @thomast1906, I believe that setting `subscription_id` in the template worked in previous versions because the task was still using the old configuration variables that have the `arm_` prefix before 0.6.20 (i.e. `arm_subscription_id`. The use of `subscription_id` probably took precedence over the old/deprecated `arm_subscription_id` variable.

With the release of terraform 0.15, terraform stopp

[2021-04-27 13:48] #278 closed

[2021-04-27 13:59] charleszipp commented on #280
@HL-Sibelco according to the log, terraform executable is failing to run even for simple terraform version. It hasnt even gotten to init yet. I suspect if you added a bash task ahead of this and executed `terraform version` from the same working directory, you would get the same error. This is likely an issue with how terraform was installed on the agent or potentially a permissions issue. Did you

[2021-04-27 13:59] #280 closed

[2021-04-28 09:27] HL-Sibelco commented on #280
Bash command was indeed in place, took it out and works fine.
I did not use your installer task, can I still do this now, even with the old version already installed ?

[2021-04-28 13:35] charleszipp commented on #280
Yes that should work. The only case where it may not is if using a self hosted agent and you installed terraform manually (as opposed to using some other pipelines task to install it). I havent tested this scenario so not sure what to expect in this case. Even if this doesnt work, I think all you would need to do is to uninstall the manual installation and then run the installer task.

[2021-04-28 18:45] HL-Sibelco opened #281 "Parameter not Interpreted in Init"
Hello,
This is the output from the Init
[code]
As you can see in the config key there is a // (presented as /<<blank>>/ to pull attention), the code in task-group is
`$(conf_directory)/$(pl_exec_service)/config`

After the init to do a bash command showing the parameters
[code]
So I'm a bit confused why the Bash-Cmd interprets the parameters with the supplied values and the CLI-Init not.
Suppose I

[2021-04-29 10:22] thomast1906 commented on #278
Cheers @charleszipp - we are happy with the commandOptions mentioned above

[2021-04-29 12:35] HL-Sibelco commented on #281
Found a solution, problem was due to DevOps syntax, not Terraform CLI.

[2021-04-29 12:35] #281 closed

[2021-05-12 13:37] charleszipp commented on #23
@russellmccloy would you be able to share a plan file that reproduces this error? You can email it to me directly at chzipp@microsoft.com. If there is a different transfer method you would prefer let me know.

[2021-05-12 19:37] russellmccloy commented on #23
@charleszipp I have email the plan in a zip file. Let me know if you don't get it as corporate email servers sometimes don't allow sending to external

[2021-05-12 19:55] charleszipp commented on #23
@russellmccloy I did not get it. Maybe try sending the plan file as .txt?

[2021-05-12 20:44] russellmccloy commented on #23
Sorry, vpn was turned off so you should get 2* emails 👍

[2021-05-12 23:09] russellmccloy commented on #23
@charleszipp  I am wondering that maybe the issue I have described is related to this?:
![image](https://user-images.githubusercontent.com/1108859/118055121-dbf58b00-b3ca-11eb-9278-0dcdceab6029.png)

[2021-05-12 23:31] russellmccloy commented on #23
Actually @charleszipp we clicked authorize and same issue is still there, Just letting you know

[2021-05-12 23:46] russellmccloy commented on #23
Sorry for all the messages.
Just to let you know, by clicking authorize, we got upgraded to the latest version of your extension also, and the error still exists
![image](https://user-images.githubusercontent.com/1108859/118057748-e36b6300-b3cf-11eb-88e1-769466922457.png)

Some more possibly useful info:

looks like it works when a plan actually has changes

[code]

whereas it fails when the plan

[2021-05-13 13:19] charleszipp commented on #23
Thanks for the additional context @russellmccloy. This helps. I was unable to use the raw plan file you sent due to the providers used within the templates (some look to be custom to your org). However, I am able to test using the json you sent. One thing im noticing is the extension expects a "resource_changes" property at the root object which is not present in the json you sent. While I do have

[2021-05-13 15:27] charleszipp commented on #23
@russellmccloy  Will be releasing the fix with 0.6.22 later today. Please let me know once you have had a chance to test if this resolves the issue.

[2021-05-13 16:07] charleszipp commented on #22
Thanks for the feedback @DenWin. Agree this would make for a better experience while making it more clear when changes actually exist.

[2021-05-13 16:08] DenWin commented on #22
I'm currently testing a potential PR. ;-)

[2021-05-13 21:45] russellmccloy commented on #23
Thanks @charleszipp this is great.
Sorry, if my details did not provide everything you needed but I am glad you worked out a way to troubleshoot it anyway.

I will feedback ASAP

- The current problem we have is we are pinned to 0.6.8 due to another issue (not an issue you need to worry about). Therefore we can move to 0.6.22 until we do some refactoring 🤦‍♂️

[2021-05-14 07:15] russellmccloy commented on #23
@charleszipp I have tested version `0.6.22` with regard to the issue I raised and it now succeeds. 👍

[2021-05-14 12:49] charleszipp commented on #23
Glad to hear that! Thanks for the update.

[2021-05-14 16:09] OmnipotentOwl commented on #16
After a quick look into the [azure-pipeline-task-lib](https://github.com/microsoft/azure-pipelines-task-lib/tree/master/node) repo it does look like functionality was added to the setVariable method to allow output variables starting with version 2.12.0 so it should be possible to implement this natively now.
Ref: https://github.com/microsoft/azure-pipelines-task-lib/pull/691

[2021-05-14 16:15] charleszipp commented on #16
Thanks for pointing this out @OmnipotentOwl!

[2021-05-16 01:00] DenWin commented on #28
For this to have been found it would be a good idea to add the warnings into the features to be tested, though that is a little over my ability.

[2021-05-16 02:17] DenWin commented on #22
here the PR: #29

[2021-05-16 02:50] DenWin commented on #16
see PR #31

[2021-05-17 13:47] charleszipp commented on #29
Thanks for the contribution @DenWin. I can help get the tests updated to cover this. Will merge once thats been done.

[2021-05-17 13:47] charleszipp commented on #30
Thanks for the contribution @DenWin. I can help get the tests updated to cover this. Will merge once that's been done.

[2021-05-17 15:01] DenWin commented on #30
Be advised, these warnings are highly dependent on the AzureRM-version.
That said, are actual plans generated during the Unit tests?

[2021-05-17 15:59] charleszipp commented on #30
Actual plans are not generated. The unit tests use sample stdout to mock the execution of terraform plan. The sample stdout is stored in text files. If we wanted to have the tests exercise other terraform providers then we would need samples of those captured for the unit tests to exercise.

[2021-05-18 13:31] charleszipp commented on #29
Changes look good @DenWin and tests have been added to cover the new warning logic. Once pipeline checks pass will merge this one. Thanks again for the contribution.

[2021-05-18 14:02] DenWin commented on #29
I would suggest, to remove this particular warning, but to add an additional command "version" which only purpose would be to check the version and  to output this warning - but on purpose.

[2021-05-18 14:11] charleszipp commented on #29
This is already possible via
[code]

So just needed to add a check if the task is being run in the context of `terraform version` or another command. If running just for `terraform version` then will check for the warning and emit to pipeline warnings.

[2021-05-18 14:58] DenWin commented on #29
didn't knew it passes through straight into here. I'm looking into the issue with the error

[2021-05-18 15:01] charleszipp commented on #29
I found it. There was a period missing at the end of the updated message which was causing the tests to fail. It should be fixed now.

[2021-05-18 15:04] DenWin commented on #29
yeah! ... for my defense, the error message coming from npm is hard to read. ;-)

![image](https://user-images.githubusercontent.com/13867326/118675582-fed4d480-b7fa-11eb-88fc-7b4845acc40c.png)

[2021-05-19 12:18] charleszipp commented on #29
build was successful on re-run. github not picking it up. merging...

[2021-05-20 13:45] charleszipp commented on #35
@Olivier-Beau, unfortunately the task does not support managed identity. Its is explicitly coded to only allow for SPN which is why you are seeing that error. I imagine this would be a fairly simple change to add support for this so would be a good candidate for contribution from the community.

[2021-05-20 13:48] charleszipp commented on #35
Edited the title to frame this as an ask to support managed identity service connections. Added to prioritized as this will probably be helpful for many not wanting to manage spn creds.

[2021-05-20 15:30] Olivier-Beau commented on #35
Ok, so it is a new feature request.
I'll be happy to contribute by being part of the testing

[2021-05-21 14:56] DenWin commented on #37
If for `terraform plan` the `-out`-argument is provided this path should be returned similarly to the publishPlanResult-file.

[2021-05-25 01:47] DenWin commented on #30
Here is one example:
Having `resource_group_name` in `azurerm_lb_backend_address_pool` is deprecated after azure version 2.57

[code]

![image](https://user-images.githubusercontent.com/13867326/119427405-3d8ef100-bd0b-11eb-9d04-9a2ff7e7551e.png)

[2021-05-25 10:12] DenWin commented on #39
Found the issue here - somehow the mock answer for this command is not provided - this is definitely a PR to be postponed!

[2021-05-25 10:13] DenWin commented on #30
I suggest to postpone this to a later Milestone, as it seems to be hard to cover in a proper test case

[2021-05-25 12:28] 922566 commented on #42
Closing this, did not pay attention that my ado project did not have it updated for a long time.

[2021-05-25 13:58] charleszipp commented on #30
Thanks for the example. I will try to see how we can cover this with a test case. I have moved to next milestone as suggested. Plan on cutting 0.6.24 release for the other improvements today.

[2021-05-25 18:24] charleszipp commented on #44
This has already been done. If the task detects terraform 0.15 or higher is being used, it will switch to using those arguments automatically

[2021-05-25 21:34] danieldrrivera commented on #46
Is there anyway to rollback or specify the version of the Terraform Tasks to use?

[2021-05-25 22:53] OmnipotentOwl commented on #46
@charleszipp For this issue, it might be worth a documentation update to reflect that when using output variables that are defaulted on that you will need to update your references to the variable created to include the task name. An example of the proper syntax can be found on the DevOps Documentation for variables. https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=az

[2021-05-26 08:02] jrutila commented on #46
Can confirm this. I also had a working pipeline with version 0.6.23 and a broken one when running it with 0.6.24.
The feature of `terraform output` automatically changing from variables to output variables was breaking. Maybe adding the option as a property of the task would allow some backward compatibility. Now all variables are outright output variables.

[2021-05-26 12:28] mschoneman commented on #46
Can we just set both isOutput = true and isOutput = false?  Seems like that would make them available for subsequent jobs and also not break existing uses,

[2021-05-26 12:48] charleszipp commented on #46
Will be working on this today. As @mschoneman suggested, my plan is to emit both if that is supported.

[2021-05-26 13:43] charleszipp commented on #47
Appreciate the contribution @mschoneman but, I am working on a change with a similar approach that will also include test updates. Closing this for now as I should have a complete PR up soon

[2021-05-26 14:08] capdragon commented on #44
I'm sorry, please disregard... realizing I'm not using your task to init. I WILL!

[2021-05-26 14:19] charleszipp commented on #46
Unfortunately, it appears azure pipelines does not allow you to set a variable and output with the same name. If I set `TERRAFORM_PLAN_HAS_CHANGES` twice, once with `isOutput=false` and once with `isOutput=true`, the same issue still occurs. So likely last one wins.
Will be reverting the changes the output changes so everyone is unblocked while I figure out a different strategy.

[2021-05-26 16:31] charleszipp commented on #46
0.6.25 has been published. Would appreciate if anyone can confirm if this resolves their issue.

[2021-05-26 16:40] danieldrrivera commented on #46
@charleszipp I can confirm that the pipelines are working again,

[2021-05-26 17:01] DenWin commented on #46
How to proceed from here including the additional switch about optional output-variables.
In some regards #39 could be used as a base for addional input parameters - thought the additional output name is the one stopping it right - that one could be scrubbed for now.

[2021-05-26 17:07] charleszipp commented on #46
@DenWin lets continue the conversation in #16. I reopened this issue since the changes had to be rolled back

[2021-05-26 17:49] DenWin commented on #16
There would be 2 options - either to add a parameter to switch between variables and outputs - though in that case I would only have one or the other.
A better option - in my opinion - would be to use an additional name for the output variables, e.g. to suffix them

[2021-06-01 14:05] charleszipp commented on #51
@geekzter would you mind adding a sample build log that shows what happens in this case? Also, can you confirm if you just bash/powershell `terraform output` on this multiline sensitive value, that the same error does not occur? I do not believe there is an error message in the extension that you are reporting.

[2021-06-03 04:23] dvasdekis commented on #52
Ok I finally got this to work - had to dig into the code. As below:
[code]

[2021-06-03 13:07] charleszipp commented on #53
Thanks for updating the docs @dvasdekis. Im sure this will be helpful to others attempting the same. For future reference, there are lots of examples of how to setup the task in the e2e tests [here](https://github.com/charleszipp/azure-pipelines-tasks-terraform/tree/main/pipelines/test). If you are not finding something covered in the docs, that would be another reference resource.

[2021-06-03 13:17] charleszipp commented on #54
@dvasdekis, in order to use runAzLogin, you will need to specify a service connection via the `environmentServiceName` input in order for the azure cli to authenticate. The task uses the service connection's credentials to run `az login`. Without specifying the service connection, then it would have no means to authenticate against azure.
When doing this on your desktop, you have likely already lo

[2021-06-03 13:19] charleszipp commented on #54
See also docs about how to specify a service connection [here](https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/main/overview.md#azure-service-connection--service-principal-integration)
Also, see docs about how to setup [secure env files](https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/main/overview.md#secure-env-files) for manual configuration

[2021-06-03 14:58] vladkasianenko commented on #17
I use Terraform to deploy infrastructure to the Azure China. There's `ARM_ENVIRONMENT` variable which can help. Despite the fact I can use `-environment=china` it does't work with current setup and gives me an error.

[2021-06-03 15:04] charleszipp commented on #17
@vladkasianenko a workaround would be to use [secure env files](https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/main/overview.md#secure-env-files) to set ARM_ENVIRONMENT.

[2021-06-03 15:08] charleszipp commented on #55
@vladkasianenko if using a service connection (whose configured SPN has access to storage account) you should not need to provide an access key. This is why there is no option to provide an access key. This is typically preferred because it reduces the amount of secrets to manage; which also makes it a more secure option. Could you elaborate why a service connection/principal could not be used?

[2021-06-03 15:10] charleszipp commented on #55
Additionally, if you must use an access key, the [self-configured option](https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/main/overview.md#secure-env-files) combined with a [secure env file](https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/main/overview.md#secure-env-files) would allow you to do this.

[2021-06-05 06:22] geekzter commented on #51
@charleszipp here is the relevant section from the diagnostic log. It is indeed the task output with 'issecret=true' that won't accept multi-line output. It would be nice if these can be dropped altogether instead of causing the issue.

##[debug]Exit code 0 received from tool '/opt/hostedtoolcache/terraform/0.15.5/x64/terraform'
##[debug]STDIO streams have closed for tool '/opt/hostedtoolcache/ter

[2021-06-07 14:50] charleszipp commented on #51
Thanks @geekzter for testing this and providing the output.  Given this looks to be a limitation in azure pipelines itself, i agree we should to try to mitigate the impact by updating the task to not set an output that we expect to fail. This would allow use of the rest of the outputs. Here is what I would propose...

As the outputs are being evaluated and set, inspect the value to determine if it

[2021-06-08 06:11] geekzter commented on #51
Hi @charleszipp,

Perfect! That would indeed resolve the issue and limits the changes I need to make for TF 0.15 significantly. In the multiline cases I just have to perform 'terraform output' from script, but there is no way around that.

Thanks

[2021-06-12 10:47] Arash-Sabet commented on #57
Closing this issue as the root cause was the lack of the following line:
[code]

[2021-06-15 03:54] dvasdekis commented on #54
Thanks Charles! Setting the service connection worked a treat :)

[2021-06-24 09:55] tplive commented on #35
Hi! We would like to help build this feature, just want to know if someone is already working on it? If so, we can collaborate, if not, we can get started on requirements.. 😄

[2021-06-24 14:07] charleszipp commented on #35
@tplive no one is currently working on this that I know of. If you would like to start on this, please assign yourself to the issue and move to the "In Progress" state on the assigned project.

[2021-07-01 09:56] tplive commented on #35
@charleszipp hmm, for some reason it seems I'm unable to assign myself on the issue...

[2021-07-04 23:45] ausfestivus commented on #61
Ive been trying to get some more information about whats happening here.

* the problem does not occur when I run the same command on my local CLI
* There appears to be a difference between the documented command and what is actually getting run by the agent.
** The task in the pipeline YAML says:
[code]
  when running the pipeline with `debug=true` we see
[code]
* where is that `-json` switch com

[2021-07-12 13:56] charleszipp commented on #63
The one from the microsoft repo you mention is an entirely different extension that was created after this one. This one originated in Nov 2018 before the microsoft one was available and was developed as a personal project not as an official microsoft supported extension (i.e. there is no dev team within microsoft dedicated to supporting it). Due to having to recreate the repo earlier this year, i

[2021-07-12 13:58] PaulusTM commented on #63
Thank you for the quick reply and the effort you put in this extension :)

[2021-07-21 13:42] charleszipp commented on #59
@GeorgePalacios, show was never intended to display the plan file in a human readable format. It was only implemented to detect destroy operations. Therefore, all that it currently does is run silently (nothing written to stdout) and set a pipeline variable. At the time this was implemented, it was decided to run show silently due to the risk of exposing secrets/sensitive values in the build logs.

[2021-07-21 13:45] charleszipp commented on #60
@vladkasianenko would you have any concerns about the file potentially containing sensitve data such as access keys and passwords? What expectations if any would you have of the task to protect the data written to this file?

[2021-07-21 13:59] charleszipp commented on #56
That is one way that it could be ordered. The attachments that populate could also be ordered ahead of mapping to plan types [here](https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/05b63e3915bacfe4f0ed39781bf6a68bc2ea43d9/views/terraform-plan/src/plan-summary-tab/plan-summary-tab.tsx#L38). If @shep1987 or anyone else would be interested in submitting a PR, I can help get this me

[2021-07-21 14:00] charleszipp commented on #55
Closing this as there are other options to provide the access key for azurerm as well as password/secrets for other types of backends.

[2021-07-21 17:31] GeorgePalacios commented on #59
https://www.hashicorp.com/blog/terraform-0-14-adds-the-ability-to-redact-sensitive-values-in-console-output

I assumed this could be used.

On Wed, Jul 21, 2021 at 2:43 PM Charles Zipp ***@***.***>
wrote:

[2021-07-22 01:57] hramos05 commented on #65
Testing this out with Scalr, it works without any modification! I was mistaken that the "Publish Plan Results Name" had to be the tfplan. Closing this now.

Thank you, this is a great!

[2021-07-28 13:56] charleszipp commented on #39
abandoning this since there have been many updates since, lets open as new pr when we want to revisit this

[2021-07-28 13:56] charleszipp commented on #30
abandoning this since there have been many updates since, lets open as new pr when we want to revisit this

[2021-07-29 13:09] charleszipp commented on #124
@dependabot squash and merge

[2021-07-29 13:10] charleszipp commented on #123
@dependabot squash and merge

[2021-07-29 13:11] charleszipp commented on #122
@dependabot rebase

[2021-08-18 09:28] StephanZaat commented on #61
I have a very similar issue, but I am also unsure where to fix this:

[code]
[code]

Debug output:
[code]

[2021-08-26 19:46] vedsmand commented on #61
I am also getting this,
looking at the code it seems that it is throwing error during this parsing:
https://github.com/charleszipp/azure-pipelines-tasks-terraform/blob/329e64b8b5bf8fbc6f3dc61bbec8bd1ce3271d71/tasks/terraform-cli/src/commands/tf-show.ts#L44

could it be possible that the regex defined above is creating malformed json under some circumstances ?
https://github.com/charleszipp/azure-p

[2021-08-30 14:48] moritzxbe commented on #27
I'm running the Terraform CLI in the lastest Version (0.6.27) and I am not able to create a new workspace. When I am clicking on the workspace sub command button I am not able to select new. Only the select option is there. Is there anything what I am doing wrong or is there a quick fix to solve this?

[2021-10-04 07:58] taljundi commented on #146
Problem solved, we had to update the extension from the Azure DevOps organization

[2021-10-05 19:49] charleszipp commented on #165
You have too many quotes in your command options try this instead

[code]

[2021-10-05 19:54] charleszipp commented on #163
This appears to be an issue with terraform itself (most likely the way the templates are configured) rather than this task. I would suggest directing your question to the [azurerm terraform provider](https://github.com/hashicorp/terraform-provider-azurerm).

[2021-10-05 20:25] charleszipp commented on #155
@jesusArnas the test file is 1500 lines long and contains resources that are probably not necessary for the test. Could this be stripped down to just the api management service case that was the original root cause? I appreciate the effort in redacting the plan file but, given the length there is opportunity for something to be missed.

Earlier this year we had someone contribute a similar test fi

[2021-10-06 07:29] jesusArnas commented on #155
@charleszipp The tfPlan file has been reduced to 700 lines, removing the unnecessary resources. Perhaps the apiM resource could be reduced too, i would prefer keep it as original tfPlan was. What do you think?
Thanks!

[2021-10-06 15:46] charleszipp commented on #155
thanks @jesusArnas, the change looks good for now. The pipeline is currently down due to some new security policy restrictions. I am working with the marketplace team find a solution. I will not be able to merge nor publish this change until a solution is reached. Will share updates as I have them.

[2021-10-26 13:14] charleszipp commented on #207
@sheikahamedali can you please provide the entire build log when init is run? I need to be able to see the command being issued to the azure cli which should be visible in the build log. Please redact any sensitive info such as resource names, subscription ids, tenant ids, etc.

[2021-10-26 13:46] sheikahamedali commented on #207
@charleszipp  Thank you for looking into this issue. Here are the logs.

az storage account create: storage account not found, creating...
##[debug]backendAzureRmStorageAccountName=apimpr01prodstate
##[debug]backendAzureRmResourceGroupName=apim-pr01-prod-rg
##[debug]backendAzureRmStorageAccountSku=Standard_LRS
##[debug]which 'az'
##[debug]found: '/usr/bin/az'
##[debug]which '/usr/bin/az'
##[debug]

[2021-10-26 13:54] charleszipp commented on #207
@sheikahamedali is the agent being used hosted or self hosted? If hosted, what OS/sku? Lastly, can add a step to run `az -v` to verify what version of the cli is being used?

[2021-10-26 14:15] sheikahamedali commented on #207
The pipeline is running on a self-hosted azure agent with  agent version: '2.193.1'; OS - Linux.

Here is the CLI version used - azure-cli (2.0.54); Terraform version used is 1.0.9 and the provider version used is "~> 2.72.0".

Please let me know if you need any additional details. Thanks again.

[2021-10-26 14:23] charleszipp commented on #207
The issue is due to your azure cli being out of date. The latest is 2.29.0 so it seems what you are currently using is very out of date. Please upgrade the cli and that should resolve the issue. The link below shows these args are supported in the current version of the azure cli
https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az_storage_account_create

[2021-10-26 14:32] sheikahamedali commented on #207
Ah. Thank you for pointing out the issue. I will try upgrading the CLI version and try again.

[2021-10-27 14:39] charleszipp commented on #155
@jesusArnas i had to revert main back to a previous tagged release. Since the ci had stopped, main gotten into a bad state and I couldnt track down exactly what broke. Therefore, this PR and your fork have changes that have been removed from main. Since your changes were fairly small, I thought it would be easier to just open a new branch and PR with those changes (rather than trying to figure out

[2021-11-01 10:50] tplive commented on #35
I'm sorry to announce that we were unable to get the resources needed to work on this issue. Please release it for someone else to work on. Again, I'm sorry for holding up the issue, I was sure we would be able to get it done.

[2021-11-01 13:15] charleszipp commented on #35
No problem @tplive! Thanks for letting me know.

[2021-11-05 04:58] tareks commented on #61
Hmm, having a similar issue where I get the following error for a valid (json) plan output:
`##[error]SyntaxError: Unexpected token [ in JSON at position 39076`

The output has embedded yaml with `[]` within it, but doesn't appear at that particular position reported.

This is with:
` Task 0.6.28`
 and
`Terraform v1.0.10 on linux_amd64`

[2021-11-10 14:26] charleszipp commented on #27
@moritzxbe I would suggest creating an issue in the future to report something like this.  Once PR's are closed they are rarely revisited. While reviewing #216, I noticed this as well and will be fixed with #217.

[2021-12-03 14:05] charleszipp commented on #224
@matthawley thanks for suggesting this. I agree this would be a great protection measure for what you are describing. The challenge with this will be making sure that existing storage accounts are not modified beyond adding the delete retention. This may need to be sequenced with #189

[2021-12-07 18:22] bjacog commented on #51
@geekzter I think I am encountering your issue with not just sensitive outputs but all outputs - or I am understanding the output command wrong. Can the output command be used to get a single value like on the CLI by passing the output variable to the command? I had a look at the code and it seems like it should but my tasks just seem to run `terraform version` and then terminate without error. An

[2021-12-29 16:49] pavelpikatamcs commented on #234
You beat my be 1 minute :D #235

[2021-12-29 16:52] charleszipp commented on #234
closing this as duplicate of #235

[2021-12-29 16:53] charleszipp commented on #235
This should be a very simple fix, working on this now.

[2021-12-29 17:02] charleszipp commented on #235
The root cause was the telemetry tracking added in the mentioned commit. This is causing the task to check for the location input at the end of the command when it otherwise wouldnt. Location is only required when using the `ensureBackend` as location is needed to auto-create the resources.
This wasnt caught in the tests because all the tests have location defined and/or `ensureBackend` set. Will

[2021-12-29 17:09] charleszipp commented on #235
fix created with #236, should have a release to address this shortly

[2021-12-29 17:50] doanduyhai commented on #235
@charleszipp Any release expected for this fix ? 0.7.1 ?

[2021-12-29 17:53] charleszipp commented on #235
yes just cut the release, should be on the marketplace 20-30 mins

[2021-12-29 19:29] pavelpikatamcs commented on #235
Confirmed this has fixed the issue, thanks for a quick fix!

[2021-12-29 20:10] charleszipp commented on #237
I dont believe azure pipelines will let you use a variable for a service connection. This is a limitation in azure pipelines if I remember correctly. I would suggest testing it with the service connection provided as literal (instead of variable) and see if that resolves the issue.

[2021-12-29 21:19] sc2317 commented on #237
@charleszipp
I am following below article to understand the yaml usage to run terraform tasks using this extension. In this article they have specified service connection as variable.

https://docs.microsoft.com/en-us/azure/developer/terraform/best-practices-integration-testing
https://github.com/Azure/terraform/blob/master/samples/integration-testing/src/azure-pipeline.yaml

Also, further adding

[2021-12-29 21:46] sc2317 commented on #237
I just tested using service connection as literal instead of variable but it also fails with same error.

[2021-12-30 15:38] charleszipp commented on #237
can you share a screenshot of the service connection being used with sensitive values redacted?

[2021-12-31 16:24] sc2317 commented on #237
@charleszipp

Please see below screenshot.

![](https://user-images.githubusercontent.com/79924812/147831650-840c6b4e-4077-4e8c-90c7-e39f5c882dad.png)

Also, I want to highlight one more point is that terraform state file is stored in azure blob storage(Already Created) in different subscription and this is the subscription ID that is provided in the service connection mentioned above. Error(Error

[2022-01-03 16:07] charleszipp commented on #237
@sc2317 The other users that have experienced this issue worked around this by setting the subscription id in command options during the init step. I pulled this example from the previous instance of this github repo. The subscription id supplied in command options should be the backend storage account's subscription. This will override the subscription provided in the service connection. The subs

[2022-01-03 16:08] charleszipp commented on #237
closing as this would be resolved with #14.

[2022-01-04 13:56] sc2317 commented on #237
@charleszipp
I have modified as suggested by you but it still fails with same error.
Now, as you mentioned that in service connection I should supply the subscription ID on which I need to deploy resources, but in my case I need to deploy resources on multiple subscriptions. So, to get it worked I modified my service connection and pointed it towards parent management group that contains all subsc

[2022-01-04 14:21] charleszipp commented on #237
Service connections that use management group scope are not supported. There is already an issue open for this with #20.

This task may not be a great fit for your case in it's current state. To make this work you would have to structure the templates such that you could run the deployment for each subscription with a single instance of the task. This may cause you to have to significantly refacto

[2022-01-04 15:05] sc2317 commented on #237
@charleszipp
Is this then limitation of using this extension with service connection for my requirement (Deployment to multiple subscriptions)  ?
Because this extension works absolutely fine using below environment variables under init & plan task. I don't know why by just removing environment variables, task starts failing because ideally service connection is also using the same. Screenshot that

[2022-01-06 16:03] geekzter commented on #51
Hi @bjacog, sorry for responding so late.
I'm no longer using TerraformCLI@0 for anything else than downloading Terraform itself. Instead I run Terraform from AzureCLI@2.

[2022-01-07 14:47] charleszipp commented on #20
Seeing requests on the DevLabs version for this as well
![image](https://user-images.githubusercontent.com/4292559/148560698-c6004a27-bb5b-43c9-9a97-4c342fd2277b.png)

https://github.com/microsoft/azure-pipelines-extensions/issues/794

[2022-01-07 20:29] charleszipp commented on #20
Looks like this is not even supported in the azure cli task still https://github.com/microsoft/azure-pipelines-tasks/issues/11151

[2022-01-07 21:41] charleszipp commented on #20
Update see PR #243 for proposed implementation

[2022-01-07 21:51] charleszipp commented on #237
Related/See #243

[2022-01-13 15:55] jakobsack-tag commented on #61
I ran into the same issue with Terraform 1.1.3 and task 0.7.4 . Here is the part of the tf file which causes the issue:
[code]

Note the messageBody which includes autogenerated HTML with linebreaks.

When running `terraform show -json` I am getting the following output:

[code]

You can see that in the wonderful html-in-json-in-json the `\n` got escaped to `\\n`.
The problem is caused by the repl

[2022-01-20 14:41] charleszipp commented on #245
Appreciate you helping with the review @SimonAlling!

[2022-01-20 15:16] loispostula commented on #245
@charleszipp I did not think of the existing pipelines, only on simplifying management of Terraform subcommand. It is a very valuable input, I've adapted the PR accordingly

[2022-01-20 15:57] charleszipp commented on #245
@loispostula would you mind updating the `overview.md` also to have examples of how to use these new commands? I usually just copy/paste what I setup in the test pipeline.

Also if you can share email I can add you to the ADO project that runs the CI pipeline so you can monitor any failures.

[2022-01-20 17:31] charleszipp commented on #245
@loispostula the pipeline is getting a different error now. Given this worked for you locally, but its failing in the pipeline, I think `state` just needs to be added to the `command` input pickList. I would just push this myself but, I cant push to your fork.

![image](https://user-images.githubusercontent.com/4292559/150390941-457cf930-2a66-4c41-8350-32af2e1d9f53.png)
![image](https://user-image

[2022-01-21 19:06] charleszipp commented on #227
https://support.hashicorp.com/hc/en-us/articles/4405950960147-New-Feature-Objects-have-changed-outside-of-Terraform-

[2022-01-21 20:33] charleszipp commented on #245
merging. will fix the pipeline with follow up PR.

[2022-01-31 15:12] charleszipp commented on #250
Thanks for reporting this issue. I will get a release to make this field optional. Apologies for the unintended breaking change. I was not aware there were management group service connections already being used.

Quick question, is the subscription id being set in this case as an environment variable and/or within the terraform template itself? I would like to understand how its being configured

[2022-01-31 15:36] ghost commented on #250
Thanks for quick response. We were able to work around the issue by passing a placeholder value (any non-empty string) to the ```providerAzureRmSubscriptionId```. In our configuration we set a subscription ID explicitly in provider configuration block (TF code) and it was working fine with management group scoped service connection. Making this attribute optional is actually a good idea because it

[2022-02-01 20:40] charleszipp commented on #250
@orest-lavriv-1001 this was released with 0.7.6. Can you confirm this resolved the issue for you?

[2022-02-22 10:07] schxa commented on #252
Same issue here.
Did you figure out a solution?

[2022-02-28 17:48] keodime commented on #252
I had a similar issue my problem was that I was trying to install and use TerraformCLI init in $(Build.ArtifactStagingDirectory).
When I change the directory for the raw files instead it start working.

Cheers.

[2022-03-23 12:51] charleszipp commented on #229
replaced by #258

[2022-03-23 12:52] charleszipp commented on #256
@dependabot rebase

[2022-03-23 12:53] charleszipp commented on #253
@dependabot rebase

[2022-03-25 07:21] Dilergore commented on #60
I think it is important to have this option. There are IaaC scanning tools requiring you to be able to run show with -json and output a file so the generated json formatted plan file can be used for scanning.

[2022-03-30 11:06] missym-pt commented on #61
Starting: Terraform Show

Task         : Terraform CLI
Description  : Execute terraform cli commands
Version      : 0.7.6
Author       : Charles Zipp
Help         :

/home/xxxxxxxx/xxxxxxxxxxxxxx/devopsagentcloud/_work/_tool/terraform/1.1.7/x64/terraform version
Terraform v1.1.7
on linux_amd64
##[error]Terraform command 'show' failed with exit code '1'.
##[error]SyntaxError: Unexpected end of JSON

[2022-03-30 11:38] ausfestivus commented on #61
Hi @missym-pt, the fix for this appears to be in the [0.7.7 release milestone](https://github.com/charleszipp/azure-pipelines-tasks-terraform/milestone/19).

The fix has been merged and this issue closed as a result. It seems that 0.7.7 hasnt been released yet. Reason unknown. [Ive asked for an update](https://github.com/charleszipp/azure-pipelines-tasks-terraform/pull/258#issuecomment-1082512305)

[2022-03-30 23:59] ausfestivus commented on #61
Hey @charleszipp, ive just re-run our pipeline with the newly release task version `0.7.7`. We are still seeing the same error:

[code]

Are you able to reopen this issue or did you want a new one?

[2022-04-08 09:57] bothzoli commented on #268
At least I'm not the only one with this issue 😄  (see #267)

[2022-04-14 06:47] dsfrederic commented on #16
It should also be possible to get the output variable of a specific job. For example: I've got a pipeline with multiple generated plans splitted into multiple jobs. AFAIK there's no way to get TERRAFORM_PLAN_HAS_CHANGES from job X.

[2022-04-27 15:37] illrill commented on #17
Would be great if this task could read TF_VAR_* environment variables from the build agent, without having to use the `env` input.
https://www.terraform.io/cli/config/environment-variables#tf_var_name
https://www.terraform.io/language/values/variables#environment-variables

[2022-05-12 12:20] Michaelvsk commented on #16
That feature has been reverted last year and has not been reimplemented, yet or did I miss any parameter to activate it?

[2022-05-13 09:56] tmmjelde commented on #269
I just got this same error when installing from marketplace to Devops Server Express 2019.
Other extensions install fine.

English version of the error:
Task definition input 'command' and Task definition input 'environmentServiceName' must belong to same group as they are dependent inputs for Task with ID '721c3f90-d938-11e8-9d92-09d7594721b5'.

[2022-05-26 09:17] waarg commented on #272
Same issue here

[2022-05-26 09:33] waarg commented on #272
We fixed this in organization settings. Under extensions, we had to give permission to upgrade the terraform installer task. Then on next run, it ran v0.7.8 of the task and it worked - the cert error did not recur.

[2022-05-26 10:47] yoshuhire commented on #272
Thank you so much!
I'll try n get right back!

[2022-06-28 20:08] CorrenSoft commented on #252
Every time that I got that error was because I was pointing the init/apply to a non-existing directory.

[2022-06-28 20:15] CorrenSoft commented on #268
In your example, you are not including **command: plan**. Could be that?

I have been using this task in multi-stage pipelines for a while and I have never faced this issue, with or without empty plans.

[2022-07-05 16:11] jason-johnson commented on #277
Oh, never mind.  The issue is that the documentation and sample env file seem to indicate you can use relative paths.  In fact you cannot because commands are ran from various CWD where the relative paths will not work.  If you change e.g. AGENT_TOOLSDIRECTORY to be full path then everything works.  So only the documentation is misleading.

[2022-08-03 16:52] NiNoNord commented on #61
Hi @charleszipp, we are running our pipeline in ADO and this issue is reappearing again , could you have a look or comment on a possible fix, maybe reopening the case?
Note:
We have tested (locally and everything looks fine (just not in ADO pipelines)):
terraform show -json plan.json | jq

[code]

Thank you

[2022-08-08 01:47] lerlacher-haylix commented on #268
Commenting here to +1 this and add some more debugging info.

This is the error I see in the console:

![image](https://user-images.githubusercontent.com/60164405/183319673-a03fcded-e33e-4d93-8bf5-f0c80f32911b.png)

Interestingly, it only shows up once - for what I think is the first plan that was run out of 8. So the 404 is causing the view to barf without trying to process any other plans.

As a

[2022-08-08 08:49] voroniys commented on #270
I have the same issue, but the pipeline output is different - mine is failing on executing az login:
[code]
Service connection I'm using is for the principal which is using a certificate

[2022-08-10 20:18] jason-johnson commented on #272
@yoshuhire Did this fix your issue or is there a potential bug here?

[2022-08-10 20:29] jason-johnson commented on #266
Could you expand on what you mean?  Are you talking about terraform variables?

[2022-08-10 20:34] jason-johnson commented on #252
@schxa  @davoodharun Did the suggestions resolve or is there still an issue?

[2022-08-10 21:31] timcrall commented on #266
sorry, it's been a while, but yes, I believe I was looking for a way to set multiple terraform variables.

I know you can do something like:

commandOptions: --var="foo=bar"  --var="ipsum=lorem"  --var="anothervar=anothervalue"

but I was looking at a scenario where I was wanting to set dozens of variables to values obtained from pipeline variables/parameters, and it was going to make for an unwie

[2022-08-10 22:17] yoshuhire commented on #272
Forgive my late response.
Yes! This issue has been resolved after upgrading the terraform task!
Thank you!

[2022-08-11 07:02] jason-johnson commented on #272
Great, thanks.  In that case, closing the issue.

[2022-08-11 07:15] jason-johnson commented on #266
Have you read from [here](https://www.terraform.io/language/values/variables#variables-on-the-command-line) down?  Terraform supports various ways of setting these variables.

The simplest case would be to create a tfvar file which contains all these values and then you need only us something like `-var-file="myvars.tfvars"`.  You could use a substitution task to fill in the values of these variab

[2022-08-11 09:49] ncook-hxgn commented on #279
I'm a fan of this issue and I'm glad this extension exists. I'd like to install this extension in a test org and see if it meets our needs (looks like it will, from the docs), but this issue seems like a blocker, as we live in azdo.

[2022-08-23 01:36] lerlacher-haylix commented on #268
So it took me a while but this issue is actually really simple.

This is the regex for an empty plan:

https://github.com/jason-johnson/azure-pipelines-tasks-terraform/blob/2328fcd61e3119b7e5cf7b98c69608ad4c6ca700/tasks/terraform-cli/src/commands/tf-plan.ts#L12

This is the actual output from Terraform:

![image](https://user-images.githubusercontent.com/60164405/186048630-0829ef3f-a504-4cdb-aa7e-

[2022-08-23 08:20] jason-johnson commented on #268
I'm still getting my environment set up from the switch over and don't yet have an environment either.

[2022-08-26 14:59] jmyers82 commented on #268
@LRR1993  First there has to be a change in the plan.  If there is no change it wont show anything.  I would like to see that functionality changes to show the plan REGARDLESS.

So in my case I am giving the publishPlanResults a unique file name for each environment - $(Build.DefinitionName)-$(Build.BuildId)-${{ parameters.env }}.tfplan

Then in the pipeline gui I get the option to pick which one

[2022-09-07 06:13] jason-johnson commented on #281
The Repo for that task is [here](https://github.com/microsoft/azure-pipelines-terraform).

[2022-09-15 10:54] Su-chris commented on #269
I have also just encountered this error, is there any plan to fix this issue? Or is there another release I could download and install which doesn't have the issue?

[2022-09-16 06:07] jason-johnson commented on #269
We certainly intend to fix all issues.  We need to be able to reproduce the issue and determine the cause.  I don't currently have an on-premise Azure Devops Server to test this with but perhaps someone else does.

[2022-10-12 22:04] vanwx commented on #268
@jmyers82

I tried to add a buildId to the plan output name as well.
It still the same issue.
![image](https://user-images.githubusercontent.com/108704703/195456529-4facd236-9150-4c7b-8989-ab294b353c2b.png)

[2022-10-12 22:11] jmyers82 commented on #268
@vanwx not sure that it matters but can you make the file name end with .log    Not sure that is the actual problem in your case but that is the one difference I see.  Can you put in the section of code where you make the call for the plan?

[2022-10-12 22:19] vanwx commented on #268
@jmyers82

Same with the `.log`.
I noticed the first requests to pull all possible plan results succeeded with good response including all the plans.
But the request to get the individual plan result failed with 404 code
![image](https://user-images.githubusercontent.com/108704703/195458499-012ef3d6-8005-46e2-9502-e3279b98dc16.png)

[2022-10-12 22:21] lerlacher-haylix commented on #268
I think this is all the same underlying bug as I noted up-thread https://github.com/jason-johnson/azure-pipelines-tasks-terraform/issues/268#issuecomment-1223412278. The regex for detecting "No changes" is broken and the correct code path for dealing with an empty plan is never taken.

[2022-10-12 22:38] vanwx commented on #268
@lerlacher-haylix I think you are probably right.
The dropdown list probably pick the last plan result from the multi-stage build.
That last one might not have any changes and were not pushed like you said hence the api resulted 404.

As a result the dropdown can't be rendered due to js error 😅

[2022-10-12 22:46] jmyers82 commented on #268
Sorry @vanwx I made the assumption that there were infact changes in the plan.  Yeah I dont like how the NO CHANGE process works.  I would like it to render the plan showing no changes still yet.

[2022-10-13 00:09] vanwx commented on #268
@jmyers82 no worries at all.

I can confidently confirm the issue about `NO CHANGE process` is the problem.
It doesn't push log files or unchanging plans.

As my case above, the pipeline has only 1 stage that produces the plan changes. That stage is not the last stage which doesn't have any changes and were not pushed the plan logs.

The dropdown can't be rendered due to js error as it defaults to

[2022-11-07 17:26] enrique-ayala commented on #61
Hi @charleszipp , is there any workaround for issue? Error also appears under 0.7.8 :
[code]

Thanks!

[2022-11-21 13:57] cedricfortin commented on #268
I also suffer the same problem in a multi stage pipeline.

Thanks to @lerlacher-haylix comments and following @vanwx idea I've created a PR 😄

@jason-johnson can you please review it?

Thanks!